---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
---

<Layout title="Welcome to Astro.">
  <h1 class="text-3xl font-bold mb-4">Welcome to Astro.</h1>
  <p class="mb-8">
    This is a starter template for Astro projects. You can begin editing this
    page by modifying
    <code>src/pages/index.astro</code>.
  </p>
</Layout>
