---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Container from "../components/Container.astro";
---

<Layout title="Test">
  <h1 class="text-3xl font-bold mb-4">Test</h1>
  <ul
    style="display: grid; gap: 1rem; padding: 0; margin: 0; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));"
  >
    <Card
      href="https://astro.build"
      title="Astro"
      body="The best way to build websites for the modern web."
    />
    <Card
      href="https://docs.astro.build"
      title="Astro Documentation"
      body="Learn how to build with Astro and discover all of its features."
    />
    <Card
      href="https://astro.build/integrations"
      title="Astro Integrations"
      body="Explore official integrations to add more functionality to your Astro project."
    />
    <Card
      href="https://astro.build/themes"
      title="Astro Themes"
      body="Browse pre-built themes to jumpstart your next Astro project."
    />
  </ul>
</Layout>
