---
import Container from "../components/Container.astro";
---

<header class="text-white border-blue-600 w-full">
  <Container className="flex gap-8 justify-center">
    <a href="/">Home</a>
    <a href="test">Test</a>
  </Container>
</header>
