---
const { title } = Astro.props;
---

<header
  class="text-white group flex gap-8 justify-between items-center bg-black border border-slate-800 max-w-7xl lg:mx-auto px-4 mx-4 lg:px-8 py-8 my-8"
>
  <h1 class="lg:text-3xl text-xl font-bold">{title}</h1>
  <div
    class="flex gap-4 justify-start max-w-7xl font-extralight flex-wrap text-md lg:text-xl"
  >
    <a class="hover:text-slate-800 transition-colors" href="/">Home</a>
    <a class="hover:text-slate-800 transition-colors" href="projects"
      >Projects</a
    >
    <a class="hover:text-slate-800 transition-colors" href="showcase"
      >Showcase</a
    >
  </div>
</header>
